body {
    padding: 0;
    margin: 0;
    background-color: black;
}

button {
    border: 1;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    padding: 20px 50px;
    font-size: 30px;
    font-weight: bold;
}

button:nth-of-type(1) {
    background-color: #18f98f;
    top: 45%; /* Position the WhatsApp button */
}

button:nth-of-type(2) {
    background-color: #18c4f9;
    top: 75%; /* Position the Telegram button */
}
