body {
    padding: 0;
    margin: 0;
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
}

.button-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

button {
    border: none;
    padding: 20px 50px;
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
    cursor: pointer;
    transition: background-color 0.3s;
    color: white;
}

/* WhatsApp Button */
.whatsapp-button {
    background-color: #18f98f;
}

.whatsapp-button:hover {
    background-color: #16c772;
}

/* Telegram Button */
.telegram-button {
    background-color: #0088cc;
}

.telegram-button:hover {
    background-color: #006ba1;
}

button[title]:hover::after {
    content: attr(title);
    display: block;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    font-size: 14px;
    padding: 5px;
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
    white-space: nowrap;
}
